static/
.env
venv
*.un~
*.py~
*.gitignore~
*~
**/__pycache__/

# Playwright
./frontend/playwright/node_modules/
./frontend/playwright/test-results/
./frontend/playwright/playwright-report/
./frontend/playwright/blob-report/
./frontend/playwright/playwright/.cache/
./frontend/playwright/playwright/.auth/
