services:
  web:
    build: .
    ports:
      - "8000:8000"
    environment:
      DEBUG: ${DEBUG}
      DJANGO_SECRET_KEY: ${DJANGO_SECRET_KEY}
      DJANGO_ALLOWED_HOSTS: ${DJANGO_ALLOWED_HOSTS}
    volumes:
      - .:/app
    depends_on:
      - db
    env_file:
      - .env
    networks:
      - puns
  db:
    container_name: db
    image: postgres:17
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env
    networks:
      - puns
  redis:
    container_name: redis
    image: redis:7
    networks:
      - puns

volumes:
  postgres_data:

networks:
  puns:
